assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
vendor/*
frontend/runtime/
frontend/web/destinationFiles
frontend/web/toursFiles
